body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222b45;
  width: 100vw;
}

a{
  color: #fff;
  font-weight: bold;
}

.editor{
  width: 25%;
  margin: auto;
  margin-top: 100px;
}

.canvas{
  width: 100%;
}

.color-palette{
  margin-top: 5%;
  margin-left: 2%;
}

.color-palette::after, .canvas::after{
  content: '';
  display: block;
  clear: both;
}

.color-palette .color{
  float: left;
  width: 9.11%;
  padding-top: 9.11%;
  border-radius: 5px;
  margin: 2% 2% 0 0;
  cursor: pointer;
}

.color-palette .color.selected{
  box-shadow:0px 0px 0px 3px #fff inset;
}

.color-palette .color:hover{
  transform: scale(1.18);
}

.pixel{
  box-shadow:-1px -1px 0 0 #d3d3d3 inset;
  cursor: cell;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.credits{
  text-align: center;
  margin: 10% 0;
  color: #fff;
}

.pixel:hover{
  filter: brightness(85%);
}

@media (max-width: 920px){
  .editor{
    width: 50%;
  }
}

@media (max-width: 640px){
  .editor{
    width: 90%;
  }
}