body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222b45;
  width: 100vw;
}

.canvas{
  width: 25%;
  margin: auto;
  margin-top: 100px;
}

.pixel{
  box-shadow:-1px -1px 0 0 #d3d3d3 inset;
  float: left;
}

.pixel:hover{
  filter: brightness(90%);
}

@media (max-width: 920px){
  .canvas{
    width: 50%;
  }
}

@media (max-width: 640px){
  .canvas{
    width: 90%;
  }
}